.formContainer{
    background-color:  #4b157e;
    opacity: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formWrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 10px;
    border-radius: 5px;


    &::placeholder{
        color: gray;
    }
}

label{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2px;
    font-size: small;
}

.file{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    object-fit: cover;
}

button{
    background-color: #8a2be2;
    color: white;
    padding: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

p{
    color: black;
}


.logo{
    color: #8a2be2;
    font-weight: bold;
    font-size: 25px;

}

.title{
    color: black;
    font-size: 15px;
}